.questions {
    padding: 16px;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;

    span {
        display: block;
        cursor: pointer;
        color: var(--ion-color-primary, #3880ff);
        text-decoration: underline;
        margin: 8px auto;
    }
}

.answer-block {
    padding: 16px;
}